{{#abandon_button_text}}
<div class="yesno-abandon-button-container mt-3">
    <a href="{{abandon_button_url}}" class="btn btn-warning" id="yesno-abandon-button"
       onclick="return confirm({{abandon_confirm_text_json}});">
        {{abandon_button_text}}
    </a>
</div>
{{/abandon_button_text}}
