{{!
    Attempt information template for yesno module
    Displays the current question count and limits
}}
{{#has_attempt_info}}
<div class="yesno-attempt-info">
    <p>{{attempt_info_text}}</p>
</div>
{{/has_attempt_info}}