{{#reset_button_text}}
<div class="yesno-reset-button-container mt-3">
    <a href="{{reset_button_url}}" class="btn btn-danger" id="yesno-reset-button"
       onclick="return confirm({{reset_confirm_text_json}});">
        {{reset_button_text}}
    </a>
</div>
{{/reset_button_text}}
