{{#start_button_text}}
<div class="yesno-start-attempt-container mt-3">
    <a href="{{start_button_url}}" class="btn btn-primary btn-lg" id="yesno-start-button">
        {{start_button_text}}
    </a>
</div>
{{/start_button_text}}
